<div class="panel panel-default">
  <div class="panel-body">
    <h2>Thank you. We have received your message and will respond as soon as possible.</h2>
  </div><!-- / panel-body -->
</div><!-- / panel -->
