<table>
  <tbody>
    <tr>
      <td><h2>Dear Customer!</h2></td>
    </tr>
    <td><p>You have ordered the following:</p></td>
    
    <tr>
      <td><p>Thank you for ordering !</p></td>
    </tr>
    <tr>
      <td><p><strong>Your order is on it's way to you.</strong></p></td>
    </tr>
  </tbody>
</table>
