<table>
  <tbody>
    <tr>
      <td><h2>Welcome!</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for ordering <%= @product %>!</p></td>
    </tr>
    <tr>
      <td><p><strong>Your <%= @product %> is on it's way to you.</strong></p></td>
    </tr>
  </tbody>
</table>
