// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shopping_cart_img {
 width: 200px;
}

.shopping_cart_container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.static   {
  position: static;
}
