// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//_comments.html.erb

img {
 width: 20px;
}

.product_reviews_header {
  font-size: 2em;
  padding-bottom: 10px;
}

.user_reviews {
  padding-bottom: 20px;
}
