// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index.html.erb

#yield h1 {
  width: 100%;
  font-weight: bolder;
}

.img-fluid img {
  max-width: 380px;
  width: 100%;
  height: auto;
}

.name_product {
  width: auto;
  max-width: 500px;
  font-size: 1.5em;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 20px;
}

.description_product {
  width: auto;
  max-width: 500px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.color_product {
  width: auto;
  font-weight: bolder;
}

.price_product {
  width: auto;
  font-size: 1.5em;
  font-weight: bolder;
  padding-top: 10px;

}

.price_tag {
  width: auto;
  font-size: 1em;
}

.links_product {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.btn_product_index {
  width: 32%;
  margin-top: 10px;
  color: white !important;
}

@media (max-width: 450px) {
  .btn_product_index {
  margin-left: 10px;
  }
}

//show.html.erb

.image_show img {
  max-width: 800px;
  width: 100%;
  height: auto;
  padding-top: 20px;
}

.product_info {
  position: relative;
  padding-left:  0px;
  padding-right: 0px;
  max-width: 500px;
}

.comment_header {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  padding-top: 30px;
  margin-bottom: 5px;
}

.comment_text {
  border: solid;
  border-width: 0.5px;
  border-radius: 15px 50px 30px;
  font-size: 1em;
  text-align: left;
  padding-left: 10px;
  height:80px;
}

// @media (max-width: 450px) {
//   .image_show img  {
//     position: fixed;
//     left: 0;
//     right: 0;
//     top: 50px;
//     max-width: 100%;
//     max-height: 100%;
//     margin: auto;
//     overflow: auto;
//   }
// }

// @media (max-width: 450px) {
//   .product_info {
//     top: 330px;
//   }
// }

@media (max-width: 450px){
.links_product {
    display: none
  }
}

.payment_button {
  display: flex;
  justify-content: center;
}

//_form.html.erb

.container_form {
  margin: 0;
}

.field {
  font-weight: bolder;
}

.field {
  margin-top: 30px;
}

textarea#description {
  height: 130px;
}
