
<% cache @product do %>
<%= render 'show' %>
<% end %>

<div class="row">
  <div class="col-sm-8">
    <%= render 'new_comment' %>
  </div>

  <div class="col-sm-4"> 
   <div class="alert alert-info" style="display:none" role="alert">A new comment was 	posted!</div> 
    <% cache @comments do %> 
  	<%= render 'comments' %>  
    <% end %>   
    <%= will_paginate @comments %>
   </div>  
</div>

