<div>
<p id="notice"><%= notice %></p>

<%= render partial: 'show' %>

<div class="row">
  <div class="col-sm-8">
    <%= render 'new_comment' %>
  </div>
  <div class="col-sm-4">
    <%= render 'comments' %>
  </div>
</div>
